nav {
  /* display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between; */
  background-color: white;
}

.nav-inner {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.nav-inner > * {
  width: 100%;
}

.logo-wrapper {
  width: 130px;
  margin-right: 15px;
}

.logo {
  width: 100%;
  height: auto;
}

.ant-input-affix-wrapper {
  background-color: #fbfbfb;
  border-color: #fbfbfb;
}
.ant-input {
  background-color: #fbfbfb;
}

.ant-input::placeholder {
  color: #a5a29999;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}

.input-icon {
  color: #a5a29999;
  font-size: 18px;
  margin-right: 5px;
}

.mobile-search {
  display: none;
}

@media screen and (max-width: 1110px) {
  .input-wrapper {
    display: none;
  }

  .mobile-search {
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .logo {
    width: 100px;
  }
}

@media screen and (max-width: 560px) {
  .nav .nav-inner {
    padding: 5px 10px;
  }

  .mobile-search {
    margin-left: -34px;
  }
}
